{{ $page := . }}
<aside class="sidebar">
    {{ with $page.Params.talk }}
    <div class="card talk-card">
        <a href="{{ .url }}" target="_blank" rel="noopener noreferrer" class="talk-link">
            <h3 class="talk-title">
                {{ .label }} <i class="{{ .icon }}"></i>
            </h3>
        </a>
    </div>
    {{ end }}

    <div class="card">
        <h3>Interests</h3>
        <ul>
            {{ range $page.Params.sidebar.interests }}
            <li>{{ . }}</li>
            {{ end }}
        </ul>
    </div>

    <div class="card mt-2">
        <h3>Languages</h3>
        <ul>
            {{ range $page.Params.sidebar.languages }}
            <li>{{ . }}</li>
            {{ end }}
        </ul>
    </div>
</aside>
